<!DOCTYPE html>

<html>
    <HEAd>
        <TItle>404

        </TItle>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="./CSS/styles.css">
    </HEAd>
    <BODy>
        <div class="main-content">
            {{>header}}
        <p>{{errorMessage}}</p>
        
        </div>
        {{>footer}}
    </BODy>
</html>