<!DOCTYPE html>

<html>
    <HEAd>
        <TItle>About

        </TItle>
                <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="./CSS/styles.css">
    </HEAd>
    <BODy>
        <div class="main-content">
            {{>header}}
            <img class="potrait" src="/img/deepuimg.png">
        </div>
        {{>footer}}
    </BODy>
</html>